<ul id="pageToolbar">
	<!-- from right to left -->
	<li id="showHelp">
		<a href="#" class="tooltip" title="{{showHelp}}">
			<span class="icon-misc-question-sign"></span>
		</a>
	</li>
    <li id="showCommunityAgreement">
        <a href="#" class="tooltip" title="{{showCommunityAgreement}}">
            <span class="icon-new-handshake"></span>
        </a>
    </li>
	<li id="suggestCategory" class="serviceProviders">
		<a href="#">
			<span class="text">{{suggestCategory}}</span>
		</a>
	</li>
	<li id="referFriend" class="serviceProviders">
		<a href="#">
			<span class="text earn">{{earn5}}</span><br><span class="text refer">{{referFriend}}</span>			
		</a>
	</li>
    <li id="linkToMyAccount" class="serviceProviders">
        <a href="#">
            <span class="text"></span>
        </a>
    </li>  
	<li id="showGuide">
		<a href="#" class="tooltip" title="{{showHideGuide}}">
			<span class="icon-ui-compass"></span>
		</a>
	</li>
	<li id="deleteProject">
		<a href="#" class="tooltip" title="{{deleteProject}}">
			<span class="icon-ui-file-remove"></span>
		</a>
	</li>
	<li id="cloneProject">
		<a href="#" class="tooltip" title="{{cloneProject}}">
			<span class="icon-ui-files"></span>
		</a>
	</li>
    <li id="addProject">
		<a href="#" class="tooltip" title="{{addProject}}">
			<span class="icon-ui-file-plus"></span>
		</a>
	</li>
    <li id="showNavigator">
		<a href="#" class="tooltip" title="{{showNavigator}}">
			<span class="icon-new-paragraph-left"></span>
		</a>
	</li>		
	<li id="showExportDialog">
		<a href="#" class="tooltip" title="{{showExportDialog}}">
			<span class="icon-ui-file-download"></span>
		</a>
	</li>
	<li id="showEmailDialog">
		<a href="#" class="tooltip" title="{{showEmailDialog}}">
			<span class="icon-ui-envelop"></span>
		</a>
	</li>
	<li id="showPrintPopup">
		<a href="#" class="tooltip" title="{{showPrintPopup}}">
			<span class="icon-ui-print"></span>
		</a>
	</li>
	<li id="showChartControl">
		<a href="#" class="tooltip" title="{{showChartControls}}">
			<span class="icon-new-tools"></span>
		</a>
	</li>
	<li id="newChart">
		<a href="#" class="tooltip" title="{{addNewChart}}">
			<span class="icon-misc-plus"></span>
		</a>
	</li>
	<li id="connectProgressBar" class="tooltip" title="{{connectProgressBar}}">
		<div class="progressWell"></div>
		<div class="progress"></div>
		<div class="progressLabel">{{connectProgressLabel}}</div>
	</li>
</ul>