<ul class="activityRow group">
  <li>
    <span>{{{displayProp activity 'action'}}}</span>
    <span class="timeframe">{{{timeframe}}}</span>
  </li>
  <li>{{{displayProp activity 'responsible'}}}</li>
  <li>{{{displayProp activity 'upfrontCost'}}}</li>
  <li>{{{ongoing}}}</li>
</ul>
<nav>
  <a href="#" class="icon-ui-remove deleteActivity" title="{{dialogConfirmDelete}}"></a>
</nav>
