<header>
	<hgroup>
		<h1>{{heading}}</h1>	
	    <h2>&#160;</h2>
	</hgroup>
</header>
<section id="f6">
	<article class="themeObjective">
		<div class="stratFileHelp">
			<iframe src="" data-url="help/write-your-plan/objectives/?iframe=1" width="100%" height="90%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
		<div class="permissions"></div>
		<ul>
			<!-- Section 1 -->
			<li class="objectiveStage">
				<div class="stageHeader">
					<h2><span>{{financialTitle}}</span> <b>{{financialDesc}}</b></h2>
					<i class="icon-misc-plus" data-type="FINANCIAL" title="{{dialogConfirmAdd}}"></i>
				</div>
				<div class="stageContent">
					<div class="stageContentInner">
						<ul class="objectiveLabels objectiveRow group">
							<li>{{lblObjective}}</li>
							<li>{{lblMetric}}</li>
							<li>{{lblTargetValue}}</li>
							<li>{{lblByWhen}}</li>
							<li>{{lblReviewRate}}</li>
						</ul>
						<ul id="financialSortable" class="sortable"></ul>
						<!-- <a href="#" class="button addButton" data-type="FINANCIAL"><span class="icon-ui-file-plus"></span>{{dialogConfirmAdd}}</a> -->
					</div>
				</div>
			</li>
			<!-- Section 2 -->
			<li class="objectiveStage">
				<div class="stageHeader">
					<h2><span>{{customerTitle}}</span> <b>{{customerDesc}}</b></h2>
					<i class="icon-misc-plus" data-type="CUSTOMER" title="{{dialogConfirmAdd}}"></i>
				</div>
				<div class="stageContent">
					<div class="stageContentInner">
						<ul class="objectiveLabels objectiveRow group">
							<li>{{lblObjective}}</li>
							<li>{{lblMetric}}</li>
							<li>{{lblTargetValue}}</li>
							<li>{{lblByWhen}}</li>
							<li>{{lblReviewRate}}</li>
						</ul>
						<ul id="customerSortable" class="sortable"></ul>
						<!-- <a href="#" class="button addButton" data-type="CUSTOMER"><span class="icon-ui-file-plus"></span>{{dialogConfirmAdd}}</a> -->
					</div>
				</div>
			</li>
			<!-- Section 3 -->
			<li class="objectiveStage">
				<div class="stageHeader">
					<h2><span>{{processTitle}}</span> <b>{{processDesc}}</b></h2>
					<i class="icon-misc-plus" data-type="PROCESS" title="{{dialogConfirmAdd}}"></i>
				</div>
				<div class="stageContent">
					<div class="stageContentInner">
						<ul class="objectiveLabels objectiveRow group">
							<li>{{lblObjective}}</li>
							<li>{{lblMetric}}</li>
							<li>{{lblTargetValue}}</li>
							<li>{{lblByWhen}}</li>
							<li>{{lblReviewRate}}</li>
						</ul>
						<ul id="processSortable" class="sortable"></ul>
						<!-- <a href="#" class="button addButton" data-type="PROCESS"><span class="icon-ui-file-plus"></span>{{dialogConfirmAdd}}</a> -->
					</div>
				</div>
			</li>
			<!-- Section 4 -->
			<li class="objectiveStage">
				<div class="stageHeader last">
					<h2><span>{{staffTitle}}</span> <b>{{staffDesc}}</b></h2>
					<i class="icon-misc-plus" data-type="STAFF" title="{{dialogConfirmAdd}}"></i>
				</div>
				<div class="stageContent">
					<div class="stageContentInner">
						<ul class="objectiveLabels objectiveRow group">
							<li>{{lblObjective}}</li>
							<li>{{lblMetric}}</li>
							<li>{{lblTargetValue}}</li>
							<li>{{lblByWhen}}</li>
							<li>{{lblReviewRate}}</li>
						</ul>
						<ul id="staffSortable" class="sortable"></ul>
						<!-- <a href="#" class="button addButton" data-type="STAFF"><span class="icon-ui-file-plus"></span>{{dialogConfirmAdd}}</a> -->
					</div>
				</div>
			</li>
		</ul>
	</article>
	<script type="text/template" id="objectiveDetailsDialog">
	  <ul id="objectiveFields" class="group s1_formPanel dialogFields">
	    <li class="ocLabel">{{addlblName}}</li>
	    <li>
	      <input name="objectiveName" type="text" id="objectiveName" placeholder="{{addplhrObjective}}" />
	    </li>
	    <li class="ocLabel">{{addlblReview}}</li>
	    <li>
	      <select name="reviewFrequency" id="reviewSelect" class="select2">
	        <option value="WEEKLY">{{addselectWeekly}}</option>
	        <option value="MONTHLY">{{addselectMonthly}}</option>
	        <option value="QUARTERLY">{{addselectQuarterly}}</option>
	        <option value="ANNUALLY">{{addselectAnnually}}</option>
	      </select>
	    </li>
		<li class="metrics">
		  <ul>
		    <li>
		      <ul class="metricLabels metricRow group">
		        <li>{{lblSummary}}</li>
		        <li>{{lblSuccessIndicator}}</li>
		        <li>{{lblTargetValue}}</li>
		        <li>{{lblByWhen}}</li>
		      </ul>
		    </li>
		    <!-- li.metricItem here -->
		  </ul>
		</li>

	  </ul>
	</script>
</section>