<ul class="objectiveRow group">
  <li>{{summary}}</li>
  <li class="{{metricSummaryClassname}}">{{metricSummary}}</li>
  <li>{{{targetValue}}}</li>
  <li>{{{targetDate}}}</li>
  <li>{{{localizedReviewFrequency}}}</li>
</ul>
<nav>
  <a href="#" class="icon-ui-remove deleteObjective" title="{{dialogConfirmDelete}}"></a>
</nav>