<!-- <li id="navFreeTrial">
	<span>{{trial3DayPrompt}}</span>
</li>-->
<li id="newStratfileParent">
	<button id="newStratfile" title="{{tooltipNewPlan}}">
		<i class="icon-misc-plus"></i>{{{btnNewPlan}}}
	</button>
</li>
<li id="navStratFile">
	<span class="icon-new-list trigger tooltip" title="{{tooltipStratFiles}}"></span>
	<div class="menu"></div>
</li>
<li id="navShare">
	<span class="icon-social-share trigger tooltip" title="{{tooltipShare}}"></span>
	<div class="menu nano"><div class="content"></div></div>
</li>
<li id="navUser">
	<span class="icon-ui-user trigger tooltip" title="{{tooltipProfile}}"></span>
	<div class="menu"></div>
</li>
<li id="navSettings">
	<span class="icon-ui-cogs trigger tooltip" title="{{tooltipSettings}}"></span>
	<div class="menu"></div>
</li>
<li id="navInfo">
	<span class="icon-ui-info trigger tooltip" title="{{tooltipAbout}}"></span>
	<div class="menu nano"><div class="content"></div></div>
</li>