<header>
	<h4>{{navTitle}}:</h4>
	<a id="importStratFile" class="icon-ui-file-upload button tooltip" href="#" title="{{btnImportTitle}}"><span><b>{{btnImport}}</b></span></a>
	<a id="exportStratFile" class="icon-ui-file button tooltip" href="#" title="{{btnExportTitle}}"><span><b>{{btnExport}}</b></span></a>
</header>
<section id="stratFiles" class="nano"><div class="content"></div></section>
