<div id="changePasswordDialog">
	<div id="changePassMessage">
		{{changePassword_msg_generic}}
	</div>
	<input type="password" placeholder="{{changePassword_plhdr_oldPassword}}" id="oldPassword" />
	<div class="validatePasswordWrap">
		<input type="password" placeholder="{{changePassword_plhdr_newPassword}}" id="newPassword" />
		<input type="password" placeholder="{{changePassword_plhdr_confirmPassword}}" id="confirmNewPassword" />
	</div>
	<div id="validatePasswordMessage"></div>
	<div id="changePasswordSuccess" class="message success">{{changePassword_success}}</div>
	<div id="changePasswordError"><div class="message error">{{changePassword_error}} <div id="changePasswordErrorMessage"></div></div></div>
</div>
