<header>
	<hgroup>
		<h1>{{heading}}</h1>	
		<h2>&nbsp;</h2>
	</hgroup>
</header>

<section id="r5">
	<article class="group fullWidth">
		<div class="stratFileHelp">
			<iframe src="" data-url="help/view-reports/project-detail/?iframe=1" width="100%" height="90%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
		<table id="themeDetailReport" class="reportTable">
			<thead>
				<tr class="colHeader1">
					<th><span>{{r5_objectives}}</span></th>
					<th colspan="3"><span>{{r5_scorecard}}</span></th>
					<th colspan="4"><span>{{r5_activity}}</span></th>
				</tr>
				<tr class="rowDivider5">
					<td class="showMe">&nbsp;</td>
					<td>{{r5_measure}}</td>
					<td class="target">{{r5_target}}</td>
					<td>{{r5_date}}</td>
					<td>{{r5_action}}</td>
					<td class="activityCost">{{r5_firstYearCost}}</td>
					<td>{{r5_start}}</td>
					<td>{{r5_end}}</td>
				</tr>
			</thead>
			<tbody></tbody>
			<tfoot><tr><td colspan="7" class="responsible"></td></tr></tfoot>
		</table>
	</article>
</section>