<header>
	<hgroup>
		<h1>{{heading}}</h1>	
		<h2>{{{title}}}</h2>
	</hgroup>
</header>

<section id="r9">
	<article class="group fullWidth">
		<div class="stratFileHelp">
			<iframe src="" data-url="help/view-reports/summary-business-plan/?iframe=1" width="100%" height="90%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
		<div id="sectiona"><h4>{{R9_SECTION_A_HEADING}}</h4></div>
		<div id="sectionb"><h4>{{R9_SECTION_B_HEADING}}</h4></div>
		<div id="sectionc">
			<h4>{{R9_SECTION_C_HEADING}}</h4>
			<table id="gantt" class="reportTable">
				<thead>
					<tr class="colHeader1">
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>			
		</div>
		<div id="sectiond">
			<h4>{{R9_SECTION_D_HEADING}}</h4>
			<table id="goals" class="reportTable">
				<thead>
					<tr class="colHeader1">
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>			
		</div>
		<div id="sectione">
			<h4>{{R9_SECTION_E_HEADING}}</h4>
			<table id="progress" class="reportTable">
				<thead>
					<tr class="colHeader1">
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>			
		</div>
	</article>
</section>